@import "tailwindcss";

:root {
  --bg-color: #0F172A;
  --primary-white: #ffffff;
  --purple: #AD00FF;
  --blue: #2489FF;
  --border: #334155;
  --light-text: #64748B;
  --label-bg: #334155;
  --label-text: #CBD5E1;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", serif;
  color: var(--primary-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

code {
  font-family: "Inconsolata", serif;
}